<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  </body>
  </br>
  </br>
  </br>
    Thank you for your order <%= @purchase.buyer.name %></h3>
    <p>
      You have successfully have purchase <%= @purchase.product.name %>
      The amount charged to your credit card is: <%= @purchase.product.price %>.<br>
    </p>
    <p>
    </p>
  </body>
</html>
